<div class="new-posting">
    <p>~新規投稿~</p>
</div>

<br><br><br>

<%= form_for @post do |f| %>
  <table class="post-new">
  <tbody>

<tr>
<th><%= f.label :団体名 %></th>
<td><input type="text" name="post[title]" class="myname" autofocus placeholder="募集する団体の名前" required="required"></td>
</tr>

<tr>
<th><%= f.label :大学名 %></th>
<td><input type="text" name="post[college]" class="mycollege" placeholder="例）日本大学 都立大学" required="required"></td>
</tr>

<tr>
<th><%= f.label :画像 %></th>
<td><%= f.file_field :image %></td>
</tr>

<tr>
<th><%= f.label :種類 %></th>
<td><textarea name="post[sport]" class="mysport" placeholder="フットサル　スキー　◯◯同好会など" required="required"></textarea></td>
</tr>

<tr>
<th><%= f.label :場所 %></th>
<td><textarea name="post[place]" class="myplace" placeholder="東京　水道橋　◯◯大学" required="required"></textarea></td>
</tr> 
<form method="post" action="create">

<tr>
<th><p>活動日<br></th>
<td>
<input type="checkbox" name="post[activemonday]" value="月"> 月
<input type="checkbox" name="post[activetuesday]" value="火"> 火
<input type="checkbox" name="post[activewednesday]" value="水"> 水
<input type="checkbox" name="post[activethursday]" value="木"> 木
<input type="checkbox" name="post[activefriday]" value="金"> 金
<input type="checkbox" name="post[activesaturday]" value="土"> 土
<input type="checkbox" name="post[activesunday]" value="日"> 日
<textarea name="post[activeday]" placeholder="平日18:30-22:05... 　土日12-18...　" required="required"></textarea>
</p></td>
</tr>




<tr>
<th><%= f.label :人数 %></th>
<td>一年生
<select name="post[people]">
<option value="0人" label="0人">0人</option>
<option value="1-5人" label="1-5人">1-5人</option>
<option value="6-10人" label="6-10人">6-10人</option>
<option value="11-15人" label="11-15人">11-15人</option>
<option value="16-20人" label="16-20人">16-20人</option>
<option value="21人以上" label="21人以上">21人以上</option>
</select>

三年生
<select name="post[people3]">
<option value="0人" label="0人">0人</option>
<option value="1-5人" label="1-5人">1-5人</option>
<option value="6-10人" label="6-10人">6-10人</option>
<option value="11-15人" label="11-15人">11-15人</option>
<option value="16-20人" label="16-20人">16-20人</option>
<option value="21人以上" label="21人以上">21人以上</option>
</select>
<br>
二年生
<select name="post[people2]">
<option value="0人" label="0人">0人</option>
<option value="1-5人" label="1-5人">1-5人</option>
<option value="6-10人" label="6-10人">6-10人</option>
<option value="11-15人" label="11-15人">11-15人</option>
<option value="16-20人" label="16-20人">16-20人</option>
<option value="21人以上" label="21人以上">21人以上</option>
</select>

四年生
<select name="post[people4]">
<option value="0人" label="0人">0人</option>
<option value="1-5人" label="1-5人">1-5人</option>
<option value="6-10人" label="6-10人">6-10人</option>
<option value="11-15人" label="11-15人">11-15人</option>
<option value="16-20人" label="16-20人">16-20人</option>
<option value="21人以上" label="21人以上">21人以上</option>
</select>
</td>
</tr>

</form>

<tr>
<th><%= f.label :年会費 %></th>
<td><input type="text" name="post[money]" class="mymoney" placeholder="例）5000円/年" required="required"></td>
</tr>

<tr>
<th><%= f.label :説明文 %></th>
<td><textarea name="post[body]" class="mybody" placeholder="例）具体的な活動内容・実績　こんな人を募集！　初心者歓迎！　" required="required"></textarea></td>
</tr>

<tr>
<th><%= f.label :飲み会 %></th>
<td><input type="radio" name="post[drink]" value="多め">多め</textarea>
<input type="radio" name="post[drink]" value="やや多め">やや多め</textarea>
<input type="radio" name="post[drink]" value="普通">普通</textarea>
<input type="radio" name="post[drink]" value="少なめ">少なめ</textarea>
<input type="radio" name="post[drink]" value="なし">なし</textarea></td>
</tr>


<tr>
<th><%= f.label :代表者連絡先 %></th>
<td><textarea name="post[number]" class="mynumber" placeholder="LINE Twitter インスタなど" required="required"></textarea></td>
</tr>

</tbody>

</table>

<br>
  <button type="submit" class="submit-post">投稿する</button>
<% end %>
<br><br>
<footer>
<p>Copyright © Sho Yoshikawa All Rights Reserved.</p>
<%= link_to "お問い合わせはこちら", posts_question_path  %>
<%= link_to "English", posts_new_en_path  %>
</footer>



