<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <title>マイページ</title>
   <%= stylesheet_link_tag "show", :media => "all" %>
 </head>
 <body>
 <div class="account">
<h1>プロフィール</h1> 
<%= flash[:success] %>
</div>

<table class="mypage">
<div class="picture_wrap">
<%= image_tag @user.image_url, class: 'mypicture' %>
</div>
<tbody>

<tr class="tr">
<th class="th">名前</th>
<td class="td"><%= current_user.name %></td>
</tr>

<tr class="tr">
<th class="th">大学/学部/学年</th>
<td class="td"><%= current_user.college %></td>
</tr>

<tr class="tr">
<th class="th">活動日・時間</th>
<td class="td"><%= current_user.day %></td>
</tr>

<tr class="tr">
<th class="th">登録メールアドレス</th>
<td class="td"><%= current_user.email %></td>
</tr>

</tbody>

</table>

<%= link_to( "→編集へ", edit_mypages_path, {class: 'edit-button'}) %>
</body>

<footer>
<p>Copyright © Sho Yoshikawa All Rights Reserved.</p>
<%= link_to "お問い合わせはこちら", posts_question_path  %>
<%= link_to "English", show_en_mypages_path  %>
</footer>
</html>
