<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <title>Mypage</title>
   <%= stylesheet_link_tag "show", :media => "all" %>
 </head>
 <body>
 <div class="account">
<h1>My account</h1> 
<%= flash[:success] %>
</div>

<table class="mypage">
<div class="picture_wrap">
<%= image_tag @user.image_url, class: 'mypicture' %>
</div>
<tbody>

<tr class="tr">
<th class="th">Name</th>
<td class="td"><%= current_user.name %></td>
</tr>

<tr class="tr">
<th class="th">College/Department/Grade</th>
<td class="td"><%= current_user.college %></td>
</tr>

<tr class="tr">
<th class="th">Active day</th>
<td class="td"><%= current_user.day %></td>
</tr>

<tr class="tr">
<th class="th">Mail address</th>
<td class="td"><%= current_user.email %></td>
</tr>

</tbody>

</table>

<%= link_to( "→edit", edit_en_mypages_path, {class: 'edit-button'}) %>
</body>

<footer>
<p>Copyright © Sho Yoshikawa All Rights Reserved.</p>
<%= link_to "Contact me!", posts_question_en_path  %>
<%= link_to "日本語", show_mypages_path  %>
</footer>

</html>