<%= stylesheet_link_tag "login-new", :media => "all" %>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <div class="login-backcolor">
   <br>
<div class="form-wrapper">
  <div class="login-text">
  <br>Sign in
  </div>
  <form>

    <div class="form-item">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email adress" %>

    </div>

    <div class="form-item">
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %>
     
    </div>

    <div class="button-panel">
      <input type="submit" class="login-button" title="ログインします" value="Log in">
    </div>

  </form>

  <div class="form-footer">
    <p><%= link_to "アカウントをお持ちでない方はこちら(registration)", new_user_registration_path, class: 'post' %></p>
  </div>

</div>
</div>
<% end %>