<div class="new-posting">
    <p>~Edit~</p>
</div>

<br><br><br>

<%= form_for @post do |f| %>
  <table class="post-new">
  <tbody>
<tr>
<th>Group name</th>
<td><input type="text" name="post[title]" class="myname" autofocus required="required"></td>
</tr>

<tr>
<th><%= f.label :College %></th>
<td><input type="text" name="post[college]" class="mycollege" required="required"></td>
</tr>

<tr>
<th><%= f.label :Picture %></th>
<td><%= f.file_field :image %></td>
</tr>

<tr>
<th>Activity events</th>
<td><textarea name="post[sport]" class="mysport" required="required"></textarea></td>
</tr>

<tr>
<th><%= f.label :Place %></th>
<td><textarea name="post[place]" class="myplace" required="required"></textarea></td>
</tr> 
<form method="post" action="create">

<tr>
<th><p>Activity date<br></th>
<td>
<input type="checkbox" name="post[activemonday]" value="Mon"> Mon
<input type="checkbox" name="post[activetuesday]" value="Tue"> Tue
<input type="checkbox" name="post[activewednesday]" value="Wed"> Wed
<input type="checkbox" name="post[activethursday]" value="Thu"> Thu
<input type="checkbox" name="post[activefriday]" value="Fri"> Fri
<input type="checkbox" name="post[activesaturday]" value="Sat"> Sat
<input type="checkbox" name="post[activesunday]" value="Sun"> Sun
<textarea name="post[activeday]" placeholder="18:30-22:00(except holiday)" required="required"></textarea>
</p></td>
</tr>




<tr>
<th>Number of people</th>
<td>grade1
<select name="post[people]">
<option value="0" label="0">0</option>
<option value="1-5" label="1-5">1-5</option>
<option value="6-10" label="6-10">6-10</option>
<option value="11-15" label="11-15">11-15</option>
<option value="16-20" label="16-20">16-20</option>
<option value="over21" label="over21">over21</option>
</select>

grade3
<select name="post[people3]">
<option value="0" label="0">0</option>
<option value="1-5" label="1-5">1-5</option>
<option value="6-10" label="6-10">6-10</option>
<option value="11-15" label="11-15">11-15</option>
<option value="16-20" label="16-20">16-20</option>
<option value="over21" label="over21">over21</option>
</select>
<br>
grade2
<select name="post[people2]">
<option value="0" label="0">0</option>
<option value="1-5" label="1-5">1-5</option>
<option value="6-10" label="6-10">6-10</option>
<option value="11-15" label="11-15">11-15</option>
<option value="16-20" label="16-20">16-20</option>
<option value="over21" label="over21">over21</option>
</select>

grade4
<select name="post[people4]">
<option value="0" label="0">0</option>
<option value="1-5" label="1-5">1-5</option>
<option value="6-10" label="6-10">6-10</option>
<option value="11-15" label="11-15">11-15</option>
<option value="16-20" label="16-20">16-20</option>
<option value="over21" label="over21">over21</option>
</select>
</td>
</tr>

</form>

<tr>
<th>Annual fee</th>
<td><input type="text" name="post[money]" class="mymoney" required="required"></td>
</tr>

<tr>
<th>About us</th>
<td><textarea name="post[body]" class="new_body" required="required"></textarea></td>
</tr>

<tr>
<th><%= f.label :Drink %></th>
<td><input type="radio" name="post[drink]" value="usually">usually</textarea>
<input type="radio" name="post[drink]" value="often">often</textarea>
<input type="radio" name="post[drink]" value="sometimes">sometimes</textarea>
<input type="radio" name="post[drink]" value="rarely">rarely</textarea>
<input type="radio" name="post[drink]" value="never">never</textarea></td>
</tr>


<tr>
<th>Email address or SNS</th>
<td><textarea name="post[number]" class="mynumber" placeholder="LINE Twitter Instagram..." required="required"></textarea></td>
</tr>

</tbody>

</table>

<br>
  <button type="submit" class="submit-post">Edit</button>
<% end %>
<br>
<br>

<footer>
<p>Copyright © Sho Yoshikawa All Rights Reserved.</p>
<%= link_to "Contact me!", posts_question_en_path  %>
<%= link_to "日本語", edit_post_path  %>
</footer>

